/* Common */
html, body{
	padding:0;
	margin:0
}
 html, body{
   overflow-x: hidden;
 }
 body {
   font-family: 'Montserrat-light', sans-serif, Helvetica, Arial, sans-serif;
   color:#333333;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto Slab', serif, Helvetica, Arial, sans-serif;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
	font-size:16px;
	line-height: 19px;
	font-weight: 100;
	font-family: 'Montserrat-light', sans-serif, Helvetica, Arial, sans-serif;
 } 

/* HEADER */

header nav {
   padding:.5em 0 1em 0
 }
header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:2px 20px 0 -5px
 }
 header nav ul > li > a.btn-left {
   padding:7px 20px;
	color: #3498d8 !important;
	 border: 2px solid #3498d8;
	 border-radius: 4px
 }
 header nav ul > li > a.btn-left:hover {
   background:#3498d8;
	 color:#ffffff !important
 }
 header nav ul > li > a.btn-right {
	 padding:7px 20px;
	 background: #3498d8;
	 color:#ffffff !important;
	 border: 2px solid #3498d8;
	 border-radius: 4px;
	 border-bottom:2px solid #246a97
}
 header nav ul > li > a.btn-right:hover {
	 color:#ffffff !important;
	 background:#246a97;
	 border: 2px solid #246a97
 }
header nav ul > li, a{
	text-decoration:none
}

.sticky-header{
	left:0;
	top:0;
	z-index:99999;
	width:100%;
	height:45px;
	position:fixed;
	margin:0 auto;
	background: rgba(255, 255, 255, 0.93);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8)
}
.site-logo{
	width:130px;
	margin: 4px 0 0 20px
}

.right-header ul{
	padding:0
}

@media screen and (max-width:1300px){
.video-container .title-container{
		top:20% !important
}
}
@media screen and (max-width:1125px){
.video-container .title-container{
		top:14% !important
}
}
@media screen and (max-width:1125px){
.video-container .title-container{
		top:30% !important
}
}
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait){
.video-container .title-container{
		top:9% !important
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
	and (orientation : landscape){
.video-container .title-container{
		top:17% !important
}
}
@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 750px) 
and (orientation : landscape){
.video-container .title-container{
		top:36% !important
}
.title-container h1 {
    font-size: 34px !important
		}
.title-container p {
    font-size: 16px !important;
    line-height: 24px !important;
}
.signupbtn {
	display:none !important
}
.emailinput {
	display:none !important
}
.passwordinput {
	display:none
}
.signupbtn {
	display:none !important
}
.fb-signup-btn{
	display:none !important

}
.tw-signup-btn{
	display:none !important
}
	.divider{
		display:none !important
	}
}
@media screen and (max-width:420px){
.site-logo {
	width:100px;
	margin: 10px 0 0 10px
	}
	header nav ul > li > a.btn-right {
    padding: 7px 10px
	}
	header nav ul > li > a.btn-left {
    padding: 7px 10px
	}
	header nav ul > li {
    margin: 3px 10px 0 -5px
	}
.video-container .title-container{
		top:26% !important
	}
.title-container h1 {
    font-size: 26px !important
		}
.title-container p {
    font-size: 16px !important;
    line-height: 24px !important
		}
.emailinput {
	font-size:14px;
    margin: 10px 0 20px 0 !important;
    width: 285px !important;
}
.passwordinput {
	font-size:14px;
    width: 285px !important;
	margin: 0 0 0 5px;
}
.signupbtn {
    width: 298px !important;
	font-size:14px;
    margin-top: 20px !important
}
.fb-signup-btn{
	width: 135px !important;
	height:40px;
	font-size:14px;
	margin:0 20px 20px 0 !important

}
.tw-signup-btn{
	width: 135px !important;
	margin-left: 0 !important;
	font-size:14px
}
.sc-text{
	display:none
	}
}
	
.left-header{
	display:block;
	float:left
}
.right-header{
	display:block;
	float:right
}
@media screen and (max-width:375px){
.video-container .title-container{
		top:22% !important
}
}
@media screen and (max-width:320px){
.video-container .title-container{
		top:16% !important
}
.title-container h1 {
    font-size: 22px !important
		}
.title-container p {
    font-size: 13px !important;
    line-height: 20px !important;
	width: 96%;
	margin: 0 0 10px 0
}
.signupbtn {
    margin-bottom: 10px !important
}
.emailinput {
	font-size:14px;
    margin: 10px 0 20px 0 !important;
    width: 225px !important;
}
.passwordinput {
	font-size:14px;
    width: 225px !important;
	margin: 0 0 0 5px;
}
.signupbtn {
    width: 238px !important;
	font-size:14px;
    margin-top: 20px !important
}
.fb-signup-btn{
	width: 105px !important;
	height:40px;
	font-size:14px;
	margin:0 20px 20px 0 !important

}
.tw-signup-btn{
	width: 105px !important;
	margin-left: 0 !important;
	font-size:14px
}
}

/* VIDEO COVER */

.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative
}
.no-video .video-container video, .touch .video-container video {
	display: none
}
.no-video .video-container .poster, .touch .video-container .poster {
	display: block !important
}
.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden
}

.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute
}
.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0,0,0,0.4);
	width: 100%
}

.video-container video.fillWidth {
	width: 100%;
	top:0
}

.video-container .title-container {
	z-index: 1000;
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	margin:0 auto
}

.hidden {
	display: none !important
}
.title-container h1{
	font-size: 36px;
	color:#FFFFFF
}
.title-container p{
	font-size: 20px;
	line-height:26px;
	color:#FFFFFF
}
.title-container p.divider{
	line-height:10px;
}

.emailinput{
	height:40px;
	border: 1px solid #979797;
	border-radius: 4px;
	background:#fff;
	padding-left:10px;
	margin:0 20px 0 5px;
	width: 250px
}
.passwordinput{
	width: 250px;
	height:40px;
	border: 1px solid #979797;
	border-radius: 4px;
	background:#fff;
	padding-left:10px
}
.signupbtn{
	width: 550px;
	height:40px;
	margin-top:25px;
	background: #3498d8;
	color:#ffffff !important;
	border: 2px solid #3498d8;
	border-radius: 4px;
	border-bottom:2px solid #246a97
}
.signupbtn:hover{
	background: #246a97;
	color:#ffffff !important;
	border: 2px solid #246a97;
	cursor:pointer
}
.fb-signup-btn{
	display:inline-block;
	height:36px;
	color:#fff;
	background: #3b5998;
	margin-right:20px;
	border-radius: 4px;
	border: 2px solid #3b5998;
	border-bottom:2px solid #293e6a;
	line-height: 38px;
	margin-left:-1px;
	cursor:pointer;
	width: 255px
}
.fb-signup-btn:hover{
	background: #293e6a;
	border: 2px solid #293e6a;
}
.tw-signup-btn{
	display:inline-block;
	height:36px;
	color:#fff;
	background: #4099ff;
	border-radius:4px;
	border: 2px solid #4099ff;
	border-bottom:2px solid #2c6bb2;
	line-height: 38px;
	margin-left:6px;
	cursor:pointer;
	width: 255px;
}
.tw-signup-btn:hover{
	background: #2c6bb2;
	border: 2px solid #2c6bb2;
}

/* Grid */ 
.container {
   margin-right: auto;
   margin-left: auto;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px
 }

